@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

.dropdown-toggle img{
	max-height: 25px;
}

.postCard{
	border: none;
}

.postBannerDiv{
  max-height: 450px;
    overflow: hidden;
    max-width: 100%;
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}

.postBanner{
  width: 100%;
  object-fit: cover;
        -webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
        -moz-transition: margin-top .5s ease-out;  /* FF4+ */
        -ms-transition: margin-top .5s ease-out;  /* IE10? */
        -o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
        transition: margin-top .5s ease-out;
}

.postCardTitle{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.postCardText{
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 180%;
  font-weight: 400;
}

.option{
  margin-bottom: 1rem;
}

.test:after {
  content: '\2807';
  color: #2e2e2e
}

.postImageDiv{
	text-align: center;
}

.aAvatar{
	max-height: 30px;
	margin-right: 1rem;
}

.aName{
	margin-right: 1rem;
}

.postImage{
	object-fit:contain;
	max-width: 100%;
   	height:auto;
}

.editTitle{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.editBody{
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 180%;
  font-weight: 400;
  min-height: 70vh;
}

.comment-container {
  position: relative;
  max-width: 100%;
  margin: 50px auto;
  overflow: hidden;
  font-family: serif;
}
.comment-container .meta {
  position: absolute;
  top: 10px;
  left: 10px;
}
.comment-container .meta .avatar {
  border-radius: 50%;
  width: 40px;
}
.comment-container .meta .name {
  margin-left: 5px;
  transform: translateY(-100px);
  display: inline-block;
  color: #2d69eb;
  transition: all 0.3s;
}
.comment-container .placeholder {
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: #999;
  left: 60px;
  margin-top: -15px;
}
.comment-container textarea {
  height: 70px;
  transition: all 0.3s;
  font-size: 18px;
  box-sizing: border-box;
  color: #fff;
}
.comment-container .btns {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.comment-container.toggled .meta .name {
  transform: translateY(0);
}
.comment-container.toggled textarea {
  height: 200px;
  color: #444;
  padding-top: 60px;
  padding-bottom: 40px;
}
.comment-container.toggled .placeholder {
  display: none;
}
.comment-container.toggled .btns {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 1380px){
	.postCardTitle{
    font-size: 3rem;
  }
}

@media (max-width: 768px){
	.postCardTitle{
    font-size: 2.5rem;
  }
}
